*{
			box-sizing:border box;
			font-family:"Times New Roman", Times, serif;
}
body{ 
			margin:0;
			background-color:#f7786b;
}
.header{
			border: 1px solid black;
			margin:0;
			padding:0;
			height:100%;
			width:100%;
			overflow:auto;
			background-color:#034f84;

			
	}
.logo{
			float:left;
}
h2{
			font-size:30px;
			text-decoration:none;
			background-color:#f7cac9;

}
#h21{ 		
			border:1px solid black;
			height:40px;
			position:absolute;
			width:180x;
			left:580px;
}
#h22{ 		
			border:1px solid black;
			height:40px;
			position:absolute;
			width:250px;
			left:720px;
}
#h23{ 		
			border:1px solid black;
			height:40px;
			position:absolute;
			width:150px;
			left:1200px;
}
.title{
			text-align:center;
			
}
.whole{
			height:322px;
}
.section{
			float:left;
			width:600px;
			margin-top:10px;
			margin-bottom:10px;
			margin-left:80px;
			margin-right:0;
}
.article{
			float:right;
			width:44%;		
			margin-top:10px;
			margin-bottom:10px;
}
span>p{
			border:1px solid black;
			background-color:#f7cac9;
			width:500px;
}
img{
			
			float:left;
			overflow:auto;
}

#footer{
				background-color:#034f84;
				height:172px;
				width:100%;
				border:1px solid black;
}
#footer>p{
				background-color:#f7cac9;
}
#gwapo{
				border:1px solid black;
				position:absolute;
				width:100px;
				color:blue;
				font-size:20px;
				left:795px;
}
#sir{
				border:1px solid black;
				position:absolute;
				width:90px;
				color:blue;
				font-size:20px;
				left:900px;
				
				
}
#jimmy{
				border:1px solid black;
				position:absolute;
				width:85px;
				color:blue;
				font-size:20px;
				left:1000px;
}
